<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>List Categories</title>
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.2.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet"
          type="text/css"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    <!--          href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css" />-->
</head>
<body>
<div class="p-2">
    <a class="thead-dark" th:href="@{/}">Home</a>
</div>
    <div class="container text-center">
        <div><h1>Category List</h1></div>
        <div>
            <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Type</th>
                    <th></th>
                </tr>
            </thead>
            <tbody> <!--/*@thymesVar id="listCategories" type="java"*/-->
                <th:block th:each="category : ${listCategories}">
                    <tr>
                        <td>[[${category?.id}]]</td>
                        <td>[[${category?.type}]]</td>
                        <td>
                            <a th:href="@{'/categories/edit/' + ${category.id}}">Edit</a>
                            &nbsp;
                            <a th:href="@{'/categories/delete/' + ${category.id}}">Delete</a>
                        </td>
                    </tr>
                </th:block>
            <td colspan="3"> <!-- cell merging -->
                <a th:href="@{/categories/new}">Add</a>
            </td>
            </tbody>
            </table>
        </div>
    </div>
</body>
</html>


