<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>List Dishes</title>
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.2.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet"
          type="text/css"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    <!--          href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css" />-->
</head>
<body>
    <div class="container text-center">
        <div><h1>Dish List</h1></div>
        <div>
            <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th></th>
                </tr>
            </thead>
            <tbody> <!--/*@thymesVar id="categories.html" type="java"*/-->
                <th:block th:each="dish : ${listDishes}">
                    <tr>
                        <td th:text="${dish.id}"></td>
                        <td th:text="${dish.name}"></td>
                        <td th:text="${dish.dishType.type}"></td>
                        <td>
                            <a th:href="@{'/dishes/edit/' + ${dish.id}}">Edit</a>
                            &nbsp;
                            <a th:href="@{'/dishes/delete/' + ${dish.id}}">Delete</a>
                        </td>
                    </tr>
                </th:block>
            <td colspan="4"> <!-- cell merging -->
                <a th:href="@{/dishes/new}">Add</a>
            </td>
            </tbody>
            </table>
        </div>
    </div>
</body>
</html>


